[2017-05-14 21:23] drnikki opened #81 "Social media strategy & best practices"
This week, we need to finalize Twitter policies, access rules, and roles.

I'd like to see a few things happen:
1. all tweets signed by the author (just initials are fine)
2. a page on the site that lists team members and helps people see the full information of authors of tweets
3. an internal document identifying who has access to the twitter account
4. a guideline for the interactions that we d

[2017-05-14 23:24] cleverington commented on #81
Seems like it would be good as a directory and/or part of the RREADME.md for the Content Team's Repo.

[2017-05-14 23:25] drnikko commented on #81
If they want their own repo, sure.  I think that team is still settling in.

[2017-05-15 17:14] hrod commented on #81
So let's define the key components of a social media policy:

- Purpose (what are we attempting to achieve with our social media?)
- Audience (who are we trying to reach?)
- Content (what types of content do we post? How does that content support our mission? What do our audiences want to hear?)
- Tone (what is the tone of our communication? What types of interactions are encouraged/discouraged?)

[2017-05-15 17:43] hrod opened #82 "Coordinate with other D&I minded orgs to learn about how to handle harassment."
By reaching out to other orgs, we should be able to more effectively formulate a strategy for dealing with individuals who are engaging in harassing and bullying behavior targeting the DD&I initiative.

[2017-05-15 21:32] drnikki opened #83 "open indefinitely: Links to Read"
Until we can automate a way to store all links shared, we're dropping them here.

If you have permission to edit this issue, you can add them here, otherwise drop them as a comment on this ticket.

- [It’s Time For The Left’s ‘Progressive’ Men To Start Listening](https://theestablishment.co/lets-talk-about-sexism-among-the-left-s-so-called-progressive-men-cda28d63c019)
- [The Stubborn Persistence

[2017-05-16 02:22] Cottser opened #84 "Update logo/header on the website to better match branding shown at DrupalCon"
The assets for this are currently in this repo - wordmark/banner.

[2017-05-16 02:23] Cottser opened #85 "Fix color contrast on email newsletter Subscribe button"
#fff on #39B5F2 doesn't meet WCAG AA or AAA, let's change it.

http://webaim.org/resources/contrastchecker/?fcolor=ffffff&bcolor=39B5F2

[2017-05-16 02:29] sugaroverflow opened #86 "Ideas for a newsletter"
Collecting ideas for the newsletter.

Some thoughts from our team-content channel:

Thanks @cottser and @Hrod for the great idea!

[2017-05-16 13:23] cleverington commented on #76
Related:
https://github.com/drupaldiversity/administration/issues/85

Apparently our version of Blue only goes with Black and pretty much just black.

I think we need to explore a third color. I was thinking something either purplish or pinkish.

[2017-05-16 14:28] sugaroverflow opened #87 "Create README for admin repo"
A landing page in the admin repo. I imagine it will link to:
- the slack channel intro
- the FAQ
- have a list of teams
- and link to each team specific readme/page.

[2017-05-16 14:29] sugaroverflow opened #88 "Update team dashboard content."
We can have the teams listed with brief explanations on the #87 Admin repo README and link off to team specific pages.

I see each team page having a description of the team and links to the issue filters, project board, etc.

[2017-05-16 17:56] rubyji commented on #86
I think that almost anything that would be good in a newsletter would also make a good blog post.

[2017-05-16 18:03] sugaroverflow commented on #86
Oh that gives me ideas!

- Teasers in the newsletter to the blog posts?
- Survey with the newsletter to see if people are interested to read a blog post on this -brief newsletter content piece-

[2017-05-16 18:20] hrod commented on #83
- https://www.theatlantic.com/magazine/archive/2017/06/lolas-story/524490/

[2017-05-16 20:21] RainbowArray commented on #78
Would be good to have a checkin for the recommendations to the DA about Nashville and future DrupalCon selection. https://github.com/drupaldiversity/administration/issues/66

Their RFP for 2019/2020 is going out in two weeks or so, so would be particularly good for us to be able to finalize a set of recommendations on RFP questions so they have time to incorporate that. Finalizing the Nashville pa

[2017-05-17 01:43] bradleyfields commented on #81
@hrod A little while ago, we worked on https://github.com/drupaldiversity/drupaldiversity.github.io/issues/6 (re: a content strategy statement).

We could start there and find out how we could branch it for social platforms specifically. For instance, re: purpose, there's an annotation about "Not [being for] just anyone in tech," but focusing on our community's growth. There are also notes re: amp

[2017-05-17 22:38] sparklingrobots commented on #78
I know book club is sort of unofficial, but if it's possible to have an item for folks to vote on the book selection, that would be very helpful.

[2017-05-18 09:05] rachellawson commented on #78
It occurred to me late last night that it might be useful to make the Twitter account name “Drupal Diversity & Inclusion”. Adds something that has the trademark in.
Would be interested in anyones thoughts?

[2017-05-18 15:10] rubyji commented on #78
Pretty sure I tried that, @rachellawson. Twitter wouldn't allow that many characters. That's why there's no spaces in it now! (I will check again just to be sure, though.)

[2017-05-18 15:13] rachellawson commented on #78
Ah! It was just an idea - I nearly replied to one of the other accounts the other day - I didn’t notice.

[2017-05-18 15:14] rubyji commented on #78
But we could change it to "Drupal D & I" or something else.

[2017-05-18 15:48] drnikki opened #91 "Agenda for May 25 meeting"
Checkins from each team leader with status
- Alanna for moderation
- Fatima for content
- Scott for design
- Ruby (since Nikki is away) for leadership

(Charles/Technical team lead is away)
(please note that Nikki will not be leading this meeting, it will be co-led by Ruby and Fatima (@rubyji @sugaroverflow)

[2017-05-18 16:31] heyrocker commented on #66
My first reaction is I'm not a huge fan of the fact that this stuff is lumped under "Misc" which completely minimizes its importance.

[2017-05-18 17:24] justAChris commented on #66
Not sure how this fits in the document, but even with increased importance placed on D&I concerns during the RFP and selection process, we need to be prepared to evaluate and respond to the concerns of attendees up to the conference date. This is largely because local and state laws are always changing. The last two selections of note (New Orleans, Nashville) had/have impacting laws enacted in the

[2017-05-18 19:57] AlannaBurke opened #92 "Choose a twitter scheduling service"
We need to be able to schedule tweets for the DDI twitter.
Ideally, something free, with team access, so we don't have to share a login would be nice, though many just auth with the twitter account.
Let's evaluate a few and decide on one.
Some options:
[Hootsuite](https://hootsuite.com/)
[Twittimer](https://twittimer.com/)
[Twuffer](https://twuffer.com/)
[Buffer](https://buffer.com/)
[Social oomph

[2017-05-19 02:30] keltique commented on #84
I've added a googlefonts call for Source sans pro to the head include, and adjusted the font stack in main.scss. it works locally to pull the typeface thru the site and in the site header.  I can generate a pull request as soon as it's set to accept one from me.

[2017-05-19 22:28] cleverington commented on #85
It almost looks like it expects black text to match that color blue.

I would say a better option (then darkening the text) would be to darkening

I tried like.... 10 different approaches and I gave up.

Thoughts on adding a third color, like purple or something?

[2017-05-20 00:47] sparklingrobots commented on #74
This week we held a vote for the first book.
New Jim Crow received nine votes
Twitter and Tear Gas received nine votes
Catching History on the Wing received two votes.

I flipped a coin and NJC won. I don't know if we want to move Twitter & Tear Gas into the second position or re-poll when the first book is done, but figured I'd record results here.

[2017-05-21 17:37] ertiepie commented on #83
https://docs.google.com/spreadsheets/d/1SREuFbYYlwWdzlzvjAkALWPkBGGPUscaKzTYiYdvmTU/edit#gid=0
Public Google spreadsheet fed from a Slack I created (ddni.slack.com) to drop URLs into which then parses the pieces via a Zapier integration. The spreadsheet isn't super pretty at the moment, but I can tidy that up. I'd like to extend this to post the articles to a normal web page, blog style, but have

[2017-05-22 17:13] RainbowArray commented on #91
Upcoming Drupal camps
- Agenda item for people to promote upcoming Drupal camps session submissions.
- This Friday is session submission deadline for Twin Cities DrupalCamp.
- Discuss how to support people who want to submit sessions, but may need support doing so.
- Talks about diversity & inclusion related subjects great, also great to encourage diversity of speakers in all session topics.

[2017-05-22 22:18] sugaroverflow commented on #92
Honestly, any of those works for me. I've never used a tweet scheduler before :)
Tagging @rubyji for her opinion.

[2017-05-22 22:20] sugaroverflow commented on #88
@cleverington @drnikki Do you think instead of creating a page for each team - it might be simpler to have some description and links to the project board for each team on the Admin repo Readme page #87 ?

[2017-05-23 03:19] rubyji commented on #88
I think that people who want to know about our work but not necessarily participate in it might be interested in a short description of each team with a list of members.

Maybe instead of separate pages it could be one page with all of them and the description could be followed by a link to the project. Or maybe a link to a page that lists all the projects?

[2017-05-23 03:20] cleverington commented on #88
I am all for Dashboards.

Something like:  ( http://www.tablesgenerator.com/markdown_tables )

| Team                                                                                                                                           | Description                                                                                                                                 | Current Focus

[2017-05-23 03:23] rubyji commented on #92
I'm lazy and I just use Tweetdeck these days. I've used Hootsuite with
teams in the past, but none of the other tools.

If a lot of people use Tweetdeck I think it could work for our team tool.
It has scheduling and you can manage team members. It's pretty minimal, but
we don't have complex needs and I'd rather not add yet another thing if
what we have already works. That said, I'm open to hearing

[2017-05-23 04:06] bradleyfields commented on #92
I've used Tweetdeck and Hootsuite a lot; Buffer a little. If we're only thinking about Twitter, I'd vote for Tweetdeck too. The cross-platform options in Hootsuite and Buffer would probably clutter the author experience (especially Hootsuite).

[2017-05-23 04:09] bradleyfields commented on #88
++ to the dashboard-ish idea.

Shorten the user flow, and we may not have enough content per team to justify individual pages for each anyway, yeah?

[2017-05-23 12:47] sugaroverflow commented on #92
Thank you both for weighing in! I will put up a vote during our team meeting.

[2017-05-24 14:48] sugaroverflow commented on #91
@sparklingrobots do we need an agenda item for the book club this week? :)

[2017-05-24 14:58] sugaroverflow opened #93 "Content team meeting agenda for May 26"
The Content team is having their first meeting on May 26 at 12:00 PM EST (9:00 PST) in the #diversity-inclusion channel.

Agenda Items:
- Welcome to the Content team
- http://bit.ly/ddi-content-project-board
- Social Media
    - Choosing a twitter scheduling service
    - Drafting our Social Media policy
- Newsletter
   - brainstorming/planning
-  Content
   - Blog posts for the website
   - DD&I

[2017-05-24 18:56] gapple commented on #32
A recent Twitter thread about wanting green/red conversation flags at phpTek:
https://twitter.com/JT_Grimes/status/867390921490317312

One of the replies linked to this article on Alterconf adopting the green/yellow/red colour communication badges:
https://alterconf.com/news/introducing-color-communication-badges

[2017-05-24 23:37] sparklingrobots commented on #91
I don't think we have anything in particular to discuss for book club, but if you don't mind making an announcement that our next meeting will be on May 31, and we will be discussing the introduction and first chapter of the New Jim Crow by Michelle Alexander, that would be awesome.

[2017-05-25 02:13] #78 closed

[2017-05-25 02:14] sugaroverflow opened #94 "Agenda for June 1st Meeting"
Agenda:
- Team Checkins

This meeting will be led by @heyrocker and @drnikki

[2017-05-26 00:12] cleverington commented on #83
Opening an issue on the Tech Team Board to theorycraft resolutions.

[2017-05-26 00:27] cleverington commented on #88
Updated PR https://github.com/drupaldiversity/administration/pull/89 (for #87) with Team Dashboard details.

[2017-05-26 00:56] cleverington commented on #93
On the 'landing page for the site's working docs', that might be a great location to outline not only the content (via dashboard), but the infrastructure as well.

Something along the lines of....

[code]

[2017-05-26 01:43] cleverington commented on #87
Updated #89 with initial Team Dashboard.

[2017-05-26 16:25] #91 closed

[2017-05-26 16:26] sugaroverflow commented on #86
From the Content team meeting 5/26
- We need a template for the newsletter
- Review process

[2017-05-26 16:27] sugaroverflow commented on #86
- I think it would be beneficial to create the blog posts and share in the news-letter as an aggregation of blog posts, cool twitter-convos, and cool external resources.
- So anything that’s a good blog post and be included or teased in the newsletter. Anything good for the newsletter would also make a good blog post.
-  if we're going to use Mailchimp it would be easier to just use their own temp

[2017-05-30 11:39] sugaroverflow commented on #92
Moving this to review. I'd like us to complete this by the end of this week :)

3 votes for Tweetdeck from our content meeting.
Does anyone have any reason for us not to use Tweetdeck?

[2017-05-30 19:26] sparklingrobots commented on #74
Feminist Theory: From Margin to Center, bell hooks

[2017-05-30 21:38] seanr commented on #74
I'd like to submit 40 Million Dollar Slaves: https://www.amazon.com/Forty-Million-Dollar-Slaves-Redemption/dp/0307353141

Intersection of racism and sports.

[2017-05-31 17:59] sparklingrobots commented on #74
From today's book club:
https://www.amazon.com/Invention-White-Race-Oppression-Anglo-America/dp/1844677702/ref=pd_sim_14_1?_encoding=UTF8&pd_rd_i=1844677702&pd_rd_r=T9H1KNRAQ9TZZ0MYC4WC&pd_rd_w=uIZz5&pd_rd_wg=Fqmg9&psc=1&refRID=T9H1KNRAQ9TZZ0MYC4WC

[2017-06-01 05:56] drnikki commented on #91
Hi! Where are the notes from this meeting @sugaroverflow ?

[2017-06-01 15:35] drnikko commented on #94
Discuss appropriate language used for concisely describing people who answered a "diversity" question.

[2017-06-01 16:08] drnikki opened #97 "Agenda for June 8 meeting"
- Office hours brainstorm & co-work
- blog writing template & co-work
 - https://github.com/drupaldiversity/drupaldiversity.github.io/issues
- overview presentation template co-work : https://docs.google.com/presentation/d/18zpqyHOvnRa-qlUc-BO5fXq8dOnYhxj4Elu5_-Mmv-M/edit#slide=id.p

FEEDBACK WANTED - is there anything that folks would like to see in these meetings that we’re not doing (or want us

[2017-06-01 16:32] AlannaBurke commented on #92
So, I like tweetdeck, but my concern is that it won't let us see what other folks have scheduled, or at what time, etc. I'd much rather use some kind of service where we can see what is scheduled and when.

[2017-06-01 18:27] rubyji commented on #92
Tweetdeck does you what's scheduled, but maybe it's only what *you* have
scheduled. Should we test it? Or do you know that this is how it works? (If
so, I didn't realize.)

On Thu, Jun 1, 2017 at 12:32 PM, Alanna Burke <notifications@github.com>
wrote:

--
Ruby Sinreich
Web Developer & Senior Technologist
MomsRising.org
MamasConPoder.org

[2017-06-01 18:32] AlannaBurke commented on #92
@rubyji I'm almost 100% sure it's only what *you* have scheduled, unless you've ever seen my scheduled tweets - i've never seen anyone else's and i always have that column open.

[2017-06-01 20:16] sugaroverflow commented on #92
Hearing what you're saying about scheduling - I'd switch to hootsuite if it can do this.

[2017-06-01 20:19] sugaroverflow commented on #88
Thanks for making the dashboards cleverington!

Renaming issue to add more content and update the "stuff here" portions of the readme (https://github.com/drupaldiversity/administration)

[2017-06-01 20:19] sugaroverflow commented on #87
Done.

[2017-06-01 20:19] #87 closed

[2017-06-01 20:20] sugaroverflow commented on #81
collaboration going on in: http://bit.ly/ddi-socialmediapolicycollab

[2017-06-02 14:23] rubyji commented on #88
OK, help a sister out: where do I see the dashboards?

[2017-06-02 14:24] sugaroverflow commented on #88
@rubyji I'm working on updating the actual content -should get a PR up tonight, but they're here on the admin readme: https://github.com/drupaldiversity/administration/blob/master/README.md

Dashboard is just fancy way of saying tables :)

[2017-06-02 15:27] rubyji commented on #92
I scheduled a tweet for 3:45pm ET today in Tweetdeck. Can anyone else see it?

[2017-06-02 16:35] sugaroverflow commented on #92
Confirming that I can see @rubyji 's scheduled tweet in Tweet Deck.
I added a column for "Scheduled" and it was there.

[2017-06-02 16:36] AlannaBurke commented on #92
I can see it, too - nice! I had never seen them before. I'm happy with tweetdeck, then!

[2017-06-02 16:37] sugaroverflow commented on #92
Awesome!
**Then it's decided, we're moving forward with TweetDeck to schedule and manage our twitter as a team.**

Thank you both @AlannaBurke and @rubyji  for your efforts on this! And @bradleyfields and @seantwalsh3 for recommendations!

[2017-06-02 16:37] #92 closed

[2017-06-03 13:49] sugaroverflow commented on #93
Thank you everyone for attending the meeting !

[2017-06-03 13:49] #93 closed

[2017-06-03 13:49] sugaroverflow commented on #81
I opened a PR #100 with a draft :) please comment/give feedback/make changes/review. Thanks!

[2017-06-03 13:53] sugaroverflow commented on #44
We've created a readme for the admin repo #99 , information about the teams and how to join them #88, and an introduction to the slack channel. Our social media policy #100 and core position values are in progress. And the tech team is working on a readme for website contributions https://github.com/drupaldiversity/drupaldiversity.github.io/pull/30

I think we're on our way to having some helpful

[2017-06-03 13:53] #44 closed

[2017-06-03 13:54] sugaroverflow commented on #94
#97 Agenda for June 8 Meeting

[2017-06-03 13:54] #94 closed

[2017-06-03 13:55] sugaroverflow commented on #79
Closing this because I think it was only an issue in a few small instances and hasn't repeated.

[2017-06-03 13:55] #79 closed

[2017-06-03 14:02] sugaroverflow commented on #19
I started this at DC Baltimore, but I can't find my work.

Un-assigning myself for now because this is a good task for a new contributor.

[2017-06-03 14:04] sugaroverflow commented on #13
Since a code of conduct has been added to each repo - thank you @damienmckenna - can we close this issue for now @drnikki ?

[2017-06-08 16:14] jonpugh commented on #77
I think content like that's might be best under the resources section of the website?

[2017-06-08 16:59] jonpugh opened #101 "Request for Resources: "Best Practices" in Improving Diversity"
Hi.

I'm basically just trying to collect advice on how to respond to certain things you hear when talking to event organizers or business leaders.

I know we already have a number of resources on the website under "What can I do?" but I think I'd like to help collate all of it into a "Best Practices" guide for improving diversity & inclusion in their organization.

## What I'm looking for:
- How

[2017-06-09 20:52] sparklingrobots commented on #86
I find myself actually opening the links in the Trello newsletter (http://c.trellomail.com/deliveries/NDEzNTI6FwFX2wJkAAJzABefpiwaAVtjCYAmFTgYWTlsPAFtOjUwNjY0NgA). I think the summaries are really well written and compelling, and I don't feel overwhelmed by the quantity (Oh no when will I ever read ALL THESE GOOD LINKS?!)

I also like the Ally as a Verb organizational scheme--maybe that structure

[2017-06-11 19:02] bradleyfields commented on #77
Wondering whether we recreate the content, refer to sources, or both.

Two source examples:
- [Human Rights Campaign's glossary of terms](http://www.hrc.org/resources/glossary-of-terms)
- [It's Pronounced Metrosexual's list of terms](http://itspronouncedmetrosexual.com/2013/01/a-comprehensive-list-of-lgbtq-term-definitions/)

If we found sources we trusted, there's value in acknowledging and suppo

[2017-06-11 19:03] bradleyfields commented on #77
Oh, and no matter what we choose, what do we think about creating a glossary bot for Slack (e.g., https://github.com/codeforamerica/glossary-bot)?

[2017-06-14 16:58] davidhwang commented on #101
This problem space is so crazy huge that it's probably better to divide into two statements, each to be addressed separately.

[2017-06-15 15:30] drnikko commented on #101
yeah - @jonpugh can we start with "how do I make the attendees at my meetup more closely reflect the demographics of the city we're in?"

[2017-06-15 15:36] jonpugh commented on #101
Absolutely @drnikki, that seems like a good place to start.

@davidhwang yeah, it's a big challenge, and one I have no experience in solving!

I guess I'm just seeing that advice is needed on all of the above.

[2017-06-15 15:51] drnikko commented on #101
@jonpugh can you also update the description to:
-  be clear about what we're looking for
- some ways that folks can contribute
- what you'll do with the contributions that people give.

[2017-06-15 16:00] jonpugh commented on #101
Sure...

[2017-06-15 16:23] cleverington commented on #86
Let us know if you'd like any assistance from the Tech Team for getting things configured and prepped for delivery.

I've heard whispers that MailChimp has a solid templating system, but we can definitely get some SASS and CSS going to prettify our content with the blues!

[2017-06-15 16:23] jonpugh commented on #101
Ok, after re-writing I realize what I think I'm looking for is a "Best Practices" guide for organizations who want to start taking action and don't know where to start.

Does that make sense?

[2017-06-21 16:21] sugaroverflow commented on #101
While you're thinking about how to tighten this scope and what you'd like from contributions, I came across this and it reminded me of your issue: https://gds.blog.gov.uk/2017/06/21/breaking-in-a-new-generation-of-public-speakers/

[2017-06-22 16:32] cleverington opened #102 "Twitter: Create 'Recommended' Lists"
In short, we should create a list (or twelve) of interests in d&i to provide new Allies resources.

Off the Cuff Ideas for Lists:
- diversity
- inclusion
- a11y
- POC
- Black Lives Matter
- Regional / Cultural
- LBGTQ
- Education (e.g. sites/people like Ashe Dryden, Michelle Alexander, etc.)

From WSM - 06-22-17:

[code]

[2017-06-22 16:56] drnikki opened #103 "Agenda for June 29 Meeting"
- document review
- new moderation guidelines
-  next action item
- Q&A CTA

[2017-06-22 19:01] drnikki opened #104 "Slack history export + viewer"
We have a way to get our channel (and any other public channel) history to json, but it's not human-friendly.  It would be great if we could take the json exported from slack, convert it to html and plop it onto github pages (or similar) for public consumption and easy reference.

Locally `slack-history-export` seems to do a great job, so it would be trivial to put that on cron, have it add the fi

[2017-06-23 15:11] drnikko commented on #102
Here is a gathering of folks people shared during the meeting:

**@megh**
https://twitter.com/jbouie
https://twitter.com/badassboz
https://twitter.com/brokeymcpoverty
https://twitter.com/theferocity
https://twitter.com/amelielamont
https://twitter.com/IjeomaOluo

**@catch**
@amar47shah @0x424c41434b ‏ @public_archive ‏@EricaJoy ‏@eveewing ‏@so_treu ‏@LukeEdeNoronha ‏@judeinlondon ‏@KGuilaine ‏@Nat

[2017-06-23 16:11] justafish opened #105 "Create recurring calendar invites for team meetings"
Is there a google calendar for the group that we could put these all on to?

[2017-06-23 16:14] cleverington commented on #105
Google Calendar can  be seen here: https://drupaldiversity.github.io/get-involved/

Missing Meetings
- Book Club
~- Content Team~ already there.
- Technical Team
- Moderation Team
- Design Team

[2017-06-24 00:06] sugaroverflow commented on #105
The content team meeting is on that calendar already. I updated your comment.

[2017-06-24 00:07] sugaroverflow commented on #105
@cleverington @AlannaBurke @Cottser @sparklingrobots could you please post your meeting times in this issue and I will add them to the DD&( calendar?

I know some of them, but it makes it easier if it's here for me to do at once. Thank you! :)

[2017-06-27 20:58] drnikko commented on #103
- attendance and demographic data gathering for all old drupalcons for a permanent page on drupal.org - checkin with @gdemet for data update

[2017-06-27 21:04] ertiepie commented on #103
Link gathering: articles, etc. shared in Slack, for reference and sharing [limited Slack history.]

[2017-06-28 15:29] sugaroverflow commented on #63
need actionable items section for issue template.

[2017-06-29 02:18] drnikko commented on #103
A discussion of specific things we can do to make BDSM folks feel welcome.

[2017-06-29 15:53] drnikki opened #106 "Agenda for July 6 meeting"

[2017-06-29 16:49] AlannaBurke opened #107 "Create a Welcome Message to post in the DD&I slack on schedule."
This may be for both the content and technical team.
It would be great to have a slackbot response (or even automated!) to greet new folks in the channel with some info we pull together, including the guidelines. Can we spin up something quickly and then iterate on it?

[2017-06-29 16:49] drnikko commented on #106
- provide anonymous way to share feedback about how to make BDSM practitioners comfortable in Drupal
- follow up with gdmet about demographic data of all past drupalcons
- webinar recap

[2017-06-29 17:08] AlannaBurke opened #108 "Please update channel intro with Guidelines"
https://github.com/drupaldiversity/administration/blob/4ef17a61d7aa853a1c0b7a693f89f6c848b35e79/working-docs/slack-channel-introduction.md - should be updated with the Guidelines and some nice text about following them please.

Guidlines can be found here: http://bit.ly/ddiguidelines
or in the wiki

[2017-06-29 17:14] AlannaBurke opened #109 "Wiki sidebar placement"
I love the sidebar for the wiki - is it possible to use some sort of conditional markdown magic to make it only appear on the wiki page? I find it off-putting on the other pages.

https://github.com/drupaldiversity/administration/wiki/Drupal-Diversity-&-Inclusion-Participation-&-Moderation-Guidelines

[2017-06-29 20:32] gdemet opened #110 "DrupalCon Demographics"
I've started a document with some historical data on DrupalCon demographics, focusing specifically on gender:

https://docs.google.com/document/d/1M_-aKhUY5kDVNNstplk16-8wJdkMf2KWFDPDjDY8yIU/edit

This document is available for anyone to view or comment on, and I will be adding additional data to it as it becomes available. The goal is add this data to https://www.drupal.org/association/drupalcon/

[2017-06-30 21:16] drnikki opened #111 "kink-friendly educational resources"
Documenting the results of a thread asking for resources for folks to read if they wanted to learn more about kink/BDSM.

[2017-06-30 21:16] drnikko commented on #111
From Preston
- I began consulting friends I respect in the community to get a good cross-section of all the constituent groups, and I'll be sharing what they offer up here. First up is _When Someone You Love Is Kinky_ by Dossie Easton

- The YouTube channel Watts the Safeword (which I was also featured on incidentally) is also a good resource, especially for those interested in the gay kink commun

[2017-07-05 15:20] gdemet commented on #74
"Stamped from the Beginning: The Definitive History of Racist Ideas in America" by Ibram X. Kendi is a new book that's been getting a lot of attention and sounds like an interesting read.

[2017-07-06 16:44] drnikki opened #112 "Agenda for July 13 meeting"
- event organizer packet format & how we can work with the drupal camp organizers
- gdemet followup for attendance data
- bdsm call for feedback https://docs.google.com/a/kanopistudios.com/forms/d/15PeJeOqRXi5N9Mt5R5Z2Bk-c-TV7qektYWpBkcmO8TQ/viewform?edit_requested=true

[2017-07-06 17:08] cleverington opened #113 "GitHub vs GitLab | Pros & Cons"
The recent Coraline + GitHub post has left some uncertainty on the inclusivity of GitHub as an Organization and whether it would be best to continue with GitHub for the DD&I Group.  ( http://where.coraline.codes/blog/my-year-at-github/ )

This issue it for gathering Pros & Cons between the two Orgs, such as:
- Code of Conduct
- Actually actions taken for Code of Conduct violations
- Company action

[2017-07-12 19:50] sparklingrobots commented on #112
Book club has a few questions/announcements:

We're looking for:
a) Article suggestions to read in advance of next Wednesday's meetings, and
b) Folks who are interested in a group read of Twitter & Tear Gas.

Announcement: We'll be discussing Ava DuVernay's 13th on August 2nd.

I can likely add these in real time but wanted to leave them here in case I end up in a meeting.

[2017-07-12 23:39] sugaroverflow commented on #88
This is done.

[2017-07-12 23:39] #88 closed

[2017-07-12 23:52] sugaroverflow commented on #66
We shared these callouts with the DA and the rest is up to them now :)

Thanks for your feedback!

[2017-07-12 23:52] #66 closed

[2017-07-13 00:02] sugaroverflow commented on #112
Content team updates will be about:
- welcome slackbot
- social media policy
- creating a glossary
- newsletter

[2017-07-13 00:02] sugaroverflow commented on #112
@drnikki can we have an agenda item for asking people ideas for the slide decks they would like us to create/ what would be most useful?

[2017-07-13 17:43] sugaroverflow commented on #104
Assigning to self to get my thoughts/background info on here and then I'll pass it to the tech team :)

[2017-07-13 17:48] AlannaBurke commented on #104
Question: does this bring up any concerns with regards to making a safe space, etc? Are we creating this solely as an archive? Who will have access? What will we state is its purpose? How will we protect this from screenshots, etc? Will it be subject to our guidelines? Just want to make sure we are not putting things out there that will make people feel more vulnerable and less willing to interact

[2017-07-14 17:54] drnikki opened #114 "Agenda for July 20 meeting"
1. demographics followup
2. ABA packet followup
3. Rain's LA panel ideas
4. retention and outreach
5. book club promo
6. no team updates this week

[2017-07-14 18:07] rainbreaw commented on #114
@drnikki thanks for including me in the agenda.

DrupalCampLA is the weekend of August 5-6, and I'd like to see more of an inclusion conversation happening here. For this reason, I've proposed two panels:

[Fostering Diversity in the Professional Drupal Community](http://2017.drupalcampla.com/sessions/fostering-diversity-professional-drupal-community)

[Finding a Work-family Balance as a Drupal Pr

[2017-07-14 18:14] drnikko commented on #104
Those are great questions.  I think this came up primarily as a way for us to gather all of the links that are shared, not the transcripts of the conversations necessarily.   Though, we do everything in the open, I don't know that we're pushing to have 100% of the transcripts online.

[2017-07-16 16:41] sugaroverflow commented on #81
The first draft has been up for review for a few weeks now and I've made changes based on feedback from everyone. Closing this issue since PR #100 is ready for merge.

[2017-07-16 16:41] #81 closed

[2017-07-16 16:42] #112 closed

[2017-07-16 16:44] sugaroverflow commented on #110
Updating this issue with the task :) @gdemet needs some volunteers to help us go through past closing session videos and pull the data that was reported there.

The videos should all be here: https://www.youtube.com/user/DrupalAssociation

And then the information should be recorded in the Google Doc: https://docs.google.com/document/d/1M_-aKhUY5kDVNNstplk16-8wJdkMf2KWFDPDjDY8yIU/edit

[2017-07-16 16:47] gdemet commented on #110
Thanks! Following last week's meeting, I should have all the volunteers I need for now, but will update if that changes.

[2017-07-16 16:49] #106 closed

[2017-07-16 16:50] #97 closed

[2017-07-16 16:54] sugaroverflow commented on #107
Technically, the only thing we can do is slackbot responses. I think this will be very useful, but are there any concerns that people might feel uncomfortable if they join the channel - and slackbot gives them links or an intro?

[2017-07-16 16:55] sugaroverflow commented on #110
Great! Thank you for letting me know :)

[2017-07-16 16:56] #103 closed

[2017-07-16 16:59] sugaroverflow commented on #38
Closing this because we have a moderation team and guidelines being set up and I think that the general consensus is against using a bot for moderation which could have sensitive situations.

[2017-07-16 16:59] #38 closed

[2017-07-16 16:59] #13 closed

[2017-07-16 22:51] sugaroverflow commented on #107
Instead, I think it might be a better idea to compose a boilerplate text message with links that people can use to welcome newcomers to the channel. Such as:

[code]

[2017-07-16 23:15] sugaroverflow commented on #102
List created: https://twitter.com/drupaldiversity/lists/recommended

[2017-07-16 23:15] #102 closed

[2017-07-16 23:15] sugaroverflow commented on #114
Created a recommended twitter list based on the handles people suggested at a previous meeting. may be worth sharing the list in case people didn't get to see the suggestions: https://twitter.com/drupaldiversity/lists/recommended

[2017-07-16 23:23] sugaroverflow commented on #19
@cleverington Is this something we could have someone on the technical team do?

It might be a good task to get comfortable pulling down the site, making the markdown edits, running the jekyll serve, checking the links appear, and then making a PR?

If not, please assign me and I'll take care of it this week. Thank you!

[2017-07-16 23:31] sugaroverflow commented on #108
The PR is up for this #116 for review.

[2017-07-16 23:31] sugaroverflow commented on #105
Putting this on hold for a bit because there will not be team updates in this week's meeting - and we are discussing how to get more hands on deck / how to handle team meetings.

[2017-07-16 23:31] #105 closed

[2017-07-16 23:35] sugaroverflow commented on #63
The meeting agenda seems to run okay as a bulleted list - but maybe issue creation needs a boilerplate. Were there ideas on this that you could share @AlannaBurke and I can maybe help you with the templating?

Thanks!

[2017-07-16 23:39] sugaroverflow commented on #101
@jonpugh I think that makes sense, but it still feels a little broad. When you mean organizations, do you mean workplaces? Best practices for diversity and inclusion for employees?

I think if you could narrow it down a little more - it would make a great blog post that we could share :)

[2017-07-16 23:39] sugaroverflow commented on #75
pinging @drnikki could you close this issue when this is updated? :) thank you!

[2017-07-16 23:43] sugaroverflow commented on #67
@justAChris I think this is a great idea! Maybe we could have office hours in the drupal slack, twitter, and/or IRC to offer people help with reviewing articles/blog posts/etc?

I imagine this will need a lot of volunteers and time. We could start with once every few months?

What else did you have in mind for this?

[2017-07-18 01:37] drnikko commented on #75
Done!  Thanks for following up on this.

[2017-07-18 01:37] #75 closed

[2017-07-18 11:09] sugaroverflow commented on #114
We need some feedback on the wording of the new feedback form on the site:  https://github.com/drupaldiversity/drupaldiversity.github.io/pull/37#issuecomment-315933726

[2017-07-18 16:21] drnikko commented on #68
@YesCT You opened this issue and did a _ton_ of work getting it off the ground, so I want to make sure you've had a chance to review the new guidelines.

[2017-07-19 15:22] drnikko commented on #39
We added a contributor code of conduct to the repo and will be closing this for now.  Creating a community-wide code of conduct is 100% out of our scope and out of our domain of control.  IIRC, this is something that is being done in the d.o queue for governance and/or the cwg.

[2017-07-19 15:22] #39 closed

[2017-07-19 15:25] drnikko commented on #114
We'll be releasing the values statement that effects #30 and #41

[2017-07-19 15:36] sugaroverflow commented on #40
Thank you for your thoughts and suggestions!

We are working on this with our initiatives for creating slide decks people can use to talk about about DD&I - and with our events organizer packet. I'm going to close this issue for now, but we can reopen with we have more capacity to work on other things.

[2017-07-19 15:36] #40 closed

[2017-07-19 17:23] sugaroverflow commented on #114
+ the values statement will also affect the discussions of these issues:
#22 Explicit Community values
#37 Explicit definitions of DD&I
#2 Very short DD&I mission statement

[2017-07-19 17:26] sugaroverflow commented on #107
Discussed this with the rest of the leadership team today :)

We agree that it might impersonal to have a slackbot response to every newcomer in the channel. Also, some people might just be lurking or checking it out and may feel ambushed by a set of links or an introduction. In order to achieve this we can have a scheduled welcome message every 24 hours or every 48 hours something like:

[code]

[2017-07-19 17:28] sugaroverflow commented on #107
Next steps:

- I'll work on writing the copy for this brief message.
- @cleverington can you look into how we can set this up as a recurring post in the channel? Should we use reminders? Thanks!

[2017-07-19 18:02] sugaroverflow commented on #108
Done, thanks @AlannaBurke !

[2017-07-19 18:02] #108 closed

[2017-07-20 00:43] cleverington commented on #109
@AlannaBurke Unfortunately, it is either 'on' or 'off.

As an alternative, I could go ahead and add those pages not yet listed.

[2017-07-20 00:49] cleverington commented on #107
I would definitely go with reminders if you aren't going the route of direct-contact (which I think is a very positive idea).

Here's some examples:  https://get.slack.help/hc/en-us/articles/208423427-Set-a-reminder

So something like this:

[code]

Every other day is not *explicitly* listed as an option, but it should work.  Worse case scenario, we can instead set it to run once a week.

[2017-07-20 01:12] cleverington commented on #104
In response to Alanna's thoughts, I would support doing the exports for meetings, but I agree with her concern about maintaining a safe space for all Participants when they are not actively participating.

On the actual `slack-history-export`, let's touch base on it during tomorrow's meeting.

[2017-07-20 13:40] sugaroverflow commented on #114
+ @cleverington would like to talk about the slack history export #104

[2017-07-20 13:42] sugaroverflow commented on #107
@cleverington Thanks! I'll work on the copy and I can set the reminder now that you've given me enough info :)

[2017-07-20 16:45] drnikki opened #117 "Agenda for July 27 meeting"
- no team updates this week
- possible followups:
   - demographics
   - ABA packet
- retention and outreach / working in sprints?
- book club updates
- event organizer packet re-kickstart
- PR for our values statement
- discussing the slack history export

[2017-07-24 18:56] seanr commented on #83
Here's one: "The Poverty of Privacy Rights": http://www.sup.org/books/title/?id=25115

[2017-07-24 19:07] seanr commented on #83
This isn't directly related to our work, but it's a fascinating read (and a page turner) and will give you a sense of just how much of our constitution is rooted in the fight over slavery (hint: most of it):

https://www.amazon.com/More-Perfect-Union-William-Peters/dp/0517564505

[2017-07-25 19:03] sugaroverflow commented on #117
@drnikki any ABA updates?

@gdemet will you have updates for the demographics work at this week's meeting? if it's too soon to tell, that's okay too :)

[2017-07-27 16:22] alisonjo315 commented on #104
Ohhhhh okay, that's not what I thought, I should've read here first I suppose :)  I think our convo on the slack thread was with the idea that it *would* be saving transcripts.

[2017-07-27 16:23] alisonjo315 commented on #104
Just putting it out there: What if Drupal.slack were upgraded to non-free...?

Still would be great to scrape out and save all the link-shares, but, then at least there'd be a forever-archive.  I know it's money, but I think maybe it'd be worth it!

UPDATE: okay I thought it might be expensive but didn't know it'd be like, $10k/month expensive for the existing userbase... holy crap!!!!!!!!

[2017-07-27 16:25] justAChris commented on #104
One though if we do make these transcripts publicly available is to anonymize who said what. The downside to this is people can still take what is said out of context. However, it looks like the most common use of inappropriate reposting of slack conversations include something like "A prominent Drupal leader said..."

[2017-07-27 16:41] sugaroverflow opened #119 "Agenda for August 3rd Meeting"
- no team updates this week
- demographics followup?
- book club updates?
- PR for our values statement?
- discussing the slack history export
- govcon followup?
- discussing job interviews
- anonymous survey!

[2017-07-31 17:32] #114 closed

[2017-07-31 17:32] #117 closed

[2017-07-31 17:32] sugaroverflow commented on #119
#117 prev meeting issue.

[2017-08-01 19:38] AlannaBurke commented on #119
I'd love to talk about a potential new action item we could work on as a group. We were discussing bad job postings in the channel, and I was wondering if we could work on a set of resources for companies to help with workplace and hiring diversity. I imagine there is a lot out there that we could compile to start. someone shared http://joblint.org/, which is neat. I'd also be interested in maybe

[2017-08-02 15:17] sugaroverflow commented on #119
@gdemet do we have a followup for demographics this week?
@sparklingrobots any book club updates? :)

[2017-08-02 18:17] sparklingrobots commented on #119
Next week (August 9) at 9am PDT we'll be starting our discussion on Twitter & Tear Gas by Zeynep Tufekci.  If you want to join in, please read chapter 1.

We're also going to start tagging people directly in reminders so if anyone wants to be put on the reminders list, please let @sparklingrobots know.

Thanks, @sugaroverflow!

[2017-08-03 16:50] drnikki opened #120 "Agenda for August 10 meeting"
Please comment if you'd like to add something to the agenda!

[2017-08-03 16:52] AlannaBurke opened #121 "Resources for Diversity in Job Postings & Workforce"
Let's start gathering ideas, resources, thoughts, and feedback about providing resources to companies for promoting diversity in job postings as well as the workforce in general. If you're interested or have any ideas, please post here!

[2017-08-03 16:53] AlannaBurke commented on #120
Discuss #121 and get folks interested, think about boiling down into a concrete project.

[2017-08-03 16:58] sugaroverflow commented on #120
Reminder for self to ask Govcon Organizers for a followup on how their D&I BOF went!

[2017-08-03 17:09] dmkelner commented on #120
Yes, @sugaroverflow. Results of our first D&I BoF at GovCon.

[2017-08-03 17:17] RainbowArray commented on #121
I think this could be taken beyond job descriptions as well to the entire hiring process. The interview process, coding exercises vs take-home exercises vs paid trials and the impacts those have on diversity and inclusion efforts. As well as talking about networking and how to reach out to make sure there is a diverse applicant pool. Things to keep in mind when selecting applicants. Culture fit ve

[2017-08-03 17:58] angelamnr commented on #121
I did some digging for potential resources:

A quick run-down of the current tech job demographic landscape, and why the pipeline "problem" is a myth.
https://www.americanprogress.org/issues/race/reports/2017/03/29/429424/supply-diverse-workers-tech-silicon-valley-lacking-diversity/

A good write-up about the problems with culture fit.
https://resources.workable.com/blog/company-culture-fit

This

[2017-08-08 14:35] sugaroverflow commented on #120
+ demographics followup - d.o profile data to support demographics count

[2017-08-08 18:37] sugaroverflow commented on #120
pinging @sparklingrobots for book club announcements ?

[2017-08-08 18:44] sparklingrobots commented on #120
Pending thoughts from the rest of book club, here's what I think we're likely to say:

We are continuing to read Twitter & Tear Gas for DD & I Book Club. Next week we will read Chapters 2 & 3.  It's available as a PDF here: https://www.twitterandteargas.org/downloads/twitter-and-tear-gas-by-zeynep-tufekci.pdf.

[2017-08-08 19:22] rainbreaw commented on #120
DrupalCampLA went well. The screencast for the Fostering Diversity panel recorded successfully and can be found here: http://replay.uci.edu/clients/drupal/Fostering_Diversity_in_the_Professional_Drupal_Com_-_20170805_142642_11.html

The screencast for the Work-family balance panel, sadly, cut out at minute 20, before we really started discussing practical actions organizations could take and why t

[2017-08-09 15:09] drnikki opened #122 "PR #118 upgrade: anti-hate speech"
Specifically add "anti-hate" for bdsm and kink groups

[2017-08-09 15:22] drnikki opened #123 "PR#118 upgrade: change to "we""
In the statement of beliefs, we should have a section that affirms that beliefs using "I" or we should replace the "we" with I to give more of a sense of ownership to community members.

[2017-08-10 13:47] sugaroverflow opened #124 "Anonymous Survey Feedback"
Opening this issue to get a sense of how everyone feels about our anonymous feedback surveys. Are there questions you would like us to ask / not ask? Is there something you would suggest?

Existing surveys
1 - https://fatima186.typeform.com/to/hBIXW3
2 - https://fatima186.typeform.com/to/PXtD6x

[2017-08-10 15:12] sugaroverflow opened #125 "Agenda for August 17"

[2017-08-10 16:40] lkopacz commented on #121
This is a really good "Application Decoder" for inclusive language: http://gender-decoder.katmatfield.com/

[2017-08-15 20:33] drnikki opened #126 "Agenda for August 24"
@cedewey update on Safety Pin Box for Kids.

[2017-08-16 20:37] #119 closed

[2017-08-16 20:37] #120 closed

[2017-08-16 20:39] sugaroverflow commented on #125
@sparklingrobots for book club updates
@gdemet do you have any demographics updates for tomorrow?
@AlannaBurke do we need an agenda item for the job interview postings discussion?

[2017-08-17 13:31] sugaroverflow commented on #125
- discussing the slack history export
- anonymous survey feedback updates

[2017-08-17 16:19] AlannaBurke commented on #121
Potential survey questions (for ideas, not phrasing!):
### Interviewing
- Have you ever refrained from applying to a job because of the language of the posting? Why? What kind of language in a job posting bothers you?
- How likely are you to apply to a job posting that requires various technology you have limited/no experience with (in addition to tech you excel in, ie, a posting for a Drupal Deve

[2017-08-17 16:53] #125 closed

[2017-08-17 16:53] sugaroverflow commented on #126
- possible community activist/other spotlight
- type of diversity series 01
- demographics followup + data-mining followup @gdemet and @davidhwang
- followup on the resources and the survey being created for #121

[2017-08-17 16:54] sugaroverflow commented on #126
assigned to @heyrocker because he's leading the meeting :)

[2017-08-23 15:04] sugaroverflow commented on #126
Office hours are on 8/26 at 4PM PST.

[2017-08-24 16:46] heyrocker opened #127 "Agenda for August 31"

[2017-08-24 18:50] #126 closed

[2017-08-30 15:07] rubyji commented on #127
- Upcoming office hours. Ruby will do one next week. Nikki will do one the following.
- Spotlight?
- Reports from committees.
- Report from George et al?

[2017-08-30 15:13] sugaroverflow commented on #127
skip the jobs #121 stuff this week.

[2017-08-30 15:17] sugaroverflow commented on #127
do we have updates for demographics @gdemet?

[2017-08-30 15:31] rubyji commented on #127
- Book club update?

[2017-08-30 17:31] gdemet commented on #127
I'm out on vacation and don't have any updates, but @davidhwang might.

[2017-08-30 18:03] sugaroverflow commented on #127
@rubyji book club updates stolen from the book club meeting outro
Next week we’ll finish off _Twitter and Tear Gas_. Please join us!

also no team reports, that's on hold for a bit. You can have an agenda issue for driving more participation if you'd like. There's also the option of a community spotlight (maybe not enough time) or a some-type-of-diversity highlight.

[2017-08-30 18:12] sparklingrobots commented on #127
Yep, @sugaroverflow has it right. Same time as usual next week (9 am PDT on Wednesday).

[2017-08-31 17:02] sugaroverflow opened #128 "Agenda for September 7"
- upcoming office hours:: Ruby probably friday at 1PM EDT
- book club updates: Book Club will meet at 9 am PDT tomorrow to discuss the last of _Twitter and Tear Gas_
- Supplements to CoC idea/initiative: create an issue (@agentrickard)
- email survey blog posts (if I can get them done in time)
- should we get involved in g() discussion

[2017-09-05 15:25] #127 closed

[2017-09-05 17:23] agentrickard opened #129 "CoC Resources Supplement"
We should consider adding additional resources to the CoC pages, readings, suggested trainings or seminars, and general approaches to help people navigate issues that arise.

Links to resources on CoC pages would be a good start. Inserts or program pages in printed conference materials would be nice, too, as would a consistent set of sessions that people could give (e.g. Intro to DD&I).

Some idea

[2017-09-05 17:24] agentrickard commented on #128
See #129

[2017-09-06 20:19] sparklingrobots commented on #128
Would it be possible to have a somewhat more in-depth convo about book club during this week's meetings?  Here are the questions I have:

- Even if you are not actively participating in book club at this time, we are very interested in your opinion so jump in!
- How is the timing of meetings? If we were to change the time, when would work best for you?
- How is the pace of the reading for you? Do

[2017-09-07 15:36] sugaroverflow opened #130 "Agenda for Sept 14"
- upcoming office hours
- book club updates
- Supplements to CoC idea/initiative #129
- possibly jobs resources #121
- demographics list update
- should we get involved in g discussion (depends on leadership meeting)

[2017-09-07 16:52] sugaroverflow commented on #129
Resources that we'll need: (from the DD&I meeting today) @agentrickard

- quick summaries of longer reading resources
- training workshops that are not Drupal-run
- DD&I presentation materials

[2017-09-07 16:52] #128 closed

[2017-09-07 16:52] sugaroverflow commented on #130
are there upcoming camps we should pitch a DD&I BOF or discussion at?

[2017-09-07 17:26] sugaroverflow commented on #130
possible DC Vienna discussion agenda item. Are there people going? How do they feel about it and how we can help? Maybe we should have a BOF?

[2017-09-07 20:06] sugaroverflow opened #131 "Twitter Mentors for our community idea"
Alison shared this with us in the diversity-inclusion channel: https://twitter.com/sehurlburt/status/889004724669661184 and  we thought it would be a great idea if we could do this within our community.

This issue is to discuss what that might look like and how we'd do it :)

[2017-09-07 20:07] sugaroverflow commented on #131
- we should consider the relationship of this work to the existing drupal mentoring work https://groups.drupal.org/mentoring
- also possibly related to #121 resources for drupal job postings

and cool script that Alison found: https://github.com/ishansharma/twitter-mentors/blob/master/README.md

[2017-09-07 20:12] alisonjo315 commented on #131
I'd love to work on this, also bc I never use Python outside of the once in a while when I get to teach it :)

Re: Drupal mentoring, excellent point, maybe after we chat a little on GH but before too long, I could ping the mentoring channel on slack, if they're associated with the "IRL" mentoring community?

[2017-09-07 20:14] sugaroverflow commented on #131
Sounds good!

- We might have to edit the script a little for ourselves, but it sounds like a cool project.
- Yes! Or there might be a person we can contact that has a list of mentors or something :)

We should probably define what our idea/implementation is and then see if they have any feedback/would like to change things.

[2017-09-07 20:14] sugaroverflow commented on #130
+ #131 twitter mentors in the community idea - possibly a discussion

[2017-09-08 00:34] alisonjo315 commented on #131
Via Geoff Appleby on Slack:

[2017-09-08 00:36] rubyji commented on #130
- Possible discussion of governance issues, and meta discussion of whether we should discuss it.

[2017-09-12 01:20] sugaroverflow commented on #123
Updated the PR #118 to add a section about "I". Made this decision because the document sounds better as "we" describing our values and then the participant affirming them.

Closing this as it's resolved now. Hopefully this makes anons who were upset happy :)

[2017-09-12 01:20] #123 closed

[2017-09-12 01:20] sugaroverflow commented on #122
Updated the PR in #118 to add anti-hate speech text for these groups. Closing this as its resolved now.

[2017-09-12 01:20] #122 closed

[2017-09-12 01:21] sugaroverflow commented on #101
@jonpugh I'm closing this issue for now because I haven't heard from you in a while. It has the makings of a good idea - but I think it needs some narrowing of scope. If you come up with something, please feel free to reopen this issue _or_ add your topic to our meeting agenda for discussions during the meeting.

Thank you!

[2017-09-12 01:21] #101 closed

[2017-09-12 01:23] sugaroverflow commented on #109
Yeah, it looks like it's either on or off, sorry @AlannaBurke. I agree that it's off putting, but maybe if we segment everything under a good title (like the Moderation Guidelines and Participation Guidelines headers) it'll be organized? :)

Closing this issue for now since there's not much we can do given Github restrictions.

[2017-09-12 01:23] #109 closed

[2017-09-12 01:24] sugaroverflow commented on #124
Closing this because we might need to get anonymous feedback for our anonymous surveys haha. Looks like no one has any feedback.

[2017-09-12 01:24] #124 closed

[2017-09-12 01:34] sugaroverflow commented on #107
Here's a working copy for this :) I'll bring it up in the leadership meeting tomorrow and we'll see if we can get this run once a week or biweekly.

Welcome to #diversity-inclusion, a channel for the Drupal Diversity and Inclusion Workgroup, also known as 'DD&I'. We are an independent collective of volunteers who advocate for greater diversity in the community and more inclusive events, help creat

[2017-09-12 01:39] sugaroverflow commented on #22
Closing this with our PR #118 for our Statement of Beliefs.

[2017-09-12 01:39] #22 closed

[2017-09-12 01:41] sugaroverflow commented on #2
We compiled a short summary statement for PR #118 our statement of beliefs.

[code]

With that, closing this issue. Thank you for your work on this everyone :)

[2017-09-12 01:41] #2 closed

[2017-09-12 01:47] sugaroverflow opened #132 "What is Diversity & Inclusion FAQ/Primer"
When we were discussing explicitly defining our values as a community group, @johnshortess and @hanoii had some really good ideas about this:

I wanted to highlight this into an issue of it's own. I think drafting a primer or FAQ document could also go hand in hand with #129 supplements to a CoC and could possibly be something to work on for Drupalcon Nashville :)

[2017-09-12 01:49] sugaroverflow commented on #37
Closing this issue because we've explicitly defined our values as a group in our statement of values in #118  - thank you everyone for your help to put that together!

However, I think the idea of having an FAQ or a primer document of "What is Diversity and Inclusion" in general (and not just specifically for this community or group) is a fantastic one - and I think that needs it's own issue so I

[2017-09-12 01:49] #37 closed

[2017-09-12 01:49] sugaroverflow commented on #30
Closing this issue because we've explicitly defined our values as a group in our statement of values in #118  - thank you everyone for your help on this!

[2017-09-12 01:49] #30 closed

[2017-09-12 01:52] sugaroverflow commented on #41
Closing this issue for now as we discussed it quite a bit and it informed some of our decisions in writing our Statement of Values.  We have some volunteers working on creating possible supplementary material to our CoC and these conversations would probably be helpful for them.

Thank you for your thoughts!

[2017-09-12 01:52] #41 closed

[2017-09-12 01:54] sugaroverflow commented on #80
I know this was my idea, but I don't feel that we have the capacity or volunteers right now to run Github workshops. It also seems like there are less complaints about the issue system :) Since we don't have any initiatives that are using Gitbooks right now and seem to be using wikis - I'm closing this for now.

In the future, we can reopen this if we see the need to have some technical workshops.

[2017-09-12 01:54] #80 closed

[2017-09-13 19:29] rubyji commented on #107
I'd like to propose that this be combined with the participation guidelines bot. It doesn't need to be every day, but it could be. I'd also like to change the bot's schedule to post at a different time of day that won't collide with as many of our meetings. Maybe noonPT/3pmET?

Also, the autopost should include the time and day of our weekly meetings.

[2017-09-13 19:32] rubyji commented on #130
@drnikki Do you have a time we can promote for your next office hours?
@sparklingrobots Will you have a book club update?
@davidhwang Are there any updates on the DrupalCon demographics analysis?

[2017-09-13 19:56] sugaroverflow commented on #130
@rubyji lets minus the twitter mentors from the agenda till we've discussed initiatives next week.

[2017-09-13 20:12] rubyji commented on #130
It might also be good to have a discussion of Dries' recent blog post about contributing, but I don't know bc I haven't read it yet.

[2017-09-13 23:12] sparklingrobots commented on #130
@rubyji Book club does have an announcement:

Next week (Wednesday, September 20) at 3 pm PST we will be discussing @ok_lyndsey's talk "Resisting Algorithms of Mass Destruction".  If you'd like to join, please watch her talk in advance: https://www.youtube.com/watch?v=g5H5_sPrbBc and let me know if you have any questions!

[2017-09-14 17:20] rubyji opened #134 "Resources: Encoding values & biases into software"
I have been thinking a lot about how we encode our values and inherent biases into the software and tools we create. I would like to eventually make a blog post and a presentation about this. I've been compiling links for a while, and have gotten some good suggestions from the DD&I Slack channel.

I realized I should be sharing these here so people can see them and to make it easier to add links t

[2017-09-14 17:22] drnikko commented on #134
Tagging myself to get these up on the website for non github folks to find it.

[2017-09-14 19:26] sparklingrobots opened #135 "Sketch out a long-term mentorship or limited term contribution accelerator program."
Based on concerns raised re: Dries' blog post on contribution demographics, we had a few ideas in the channel:

- [idea] . Re: code contribution. I know that some of us know/are contributors to the project, whether core or contrib.  And I know many of us are interested in contributing despite fears that we aren’t welcome/not knowing how to join. Could we pair established maintainers/contributors w

[2017-09-14 19:28] sparklingrobots commented on #135
Tagging @rachellawson @sugaroverflow @alisonjo2786 @agentrickard

[2017-09-14 19:32] alisonjo315 commented on #135
Also..... I wonder about connecting ppl who are participating in issue threads with self-identified "Mentors" on the spot.  idk if this should be part of the same task, or if it's too different, so, just saying it "out loud" for now.

[2017-09-14 19:32] sparklingrobots commented on #135
Sounds like this work is happening on an ad hoc basis right now (per @rachellawson in the channel).

Things I'd like to consider:
- Who could be a mentor?
- Who could be a mentee?
- What term-length would be useful?
- How do we get a light-weight version of this off the ground to verify if it is useful?

[2017-09-14 19:38] sugaroverflow commented on #135
- who will run this

If it's a community based operation, I don't know if it'll get the same attention and impact as what we'd hope for it.

It's also something that _might_ be out of scope for DD&I to manage - but is an idea we could promote as a recommendation (though the others on leadership may have different thoughts).

[2017-09-14 19:38] alisonjo315 commented on #135
- stated goal of this effort

[2017-09-14 19:39] sparklingrobots commented on #135
- what are we asking of both mentors and mentees
- how do we judge success of the effort

[2017-09-14 19:41] alisonjo315 commented on #135
Sharing a message from a DD&I member on slack earlier this afternoon (with their permission), that I found inspiring wrt mentorship needs/potential -- i.e. direct impact that mentorship could have on mentees, AND indirect impact of (1) more individuals making code contributions (2) greater diversity of code contributors, ergo more "role models who look like me" etc etc:

[2017-09-14 19:42] alisonjo315 commented on #135
(possible goals, without digging into measurement *yet* :) )
- more code contributors
- greater diversity of code contributors

[2017-09-14 19:43] sparklingrobots commented on #135
Benefits to a project like this (related to stated goals, maybe not exactly the same)
- It’s one thing to get mentored/mentor at a sprint, but a long-term, one-on-one relationship would be a HUGE step-up for someone looking to get into contribution
- it gives established folks a direct way to make an impact on D&I goals, which I think has a lot of positive impact on its own (e.g. you move from fee

[2017-09-14 19:45] sugaroverflow commented on #135
Benefit to community:
- Grows the overall contribution pool because we're easing people into it and giving them more of a chance to learn and grow.

I know some people struggle with contributing even though they were mentored at a Drupalcon or camp because it all happened so fast and they weren't able to feel comfortable enough.

[2017-09-14 19:52] sparklingrobots commented on #135
@sugaroverflow totally agree. And it's easy to feel burned out post DrupalCon.   Also, not everyone has access to DrupalCon and mentored sprints in the first place.

[2017-09-14 20:37] sparklingrobots commented on #135
Just as an fyi to everyone here: I cross-posted a little blurb about this in the #mentoring channel just to let them know about what we're up to.  @ekl1773 also expressed some interest in this concept and is also involved in core mentoring.

[2017-09-14 21:16] rachellawson commented on #135
I might have to spell this out but you do realise that mentoring already takes place not just in code contribution but even here in the DD&I group? Plenty of you have stepped into contribution here and been guided by @drnikki and others. You have grown into those roles and are now doing good things.
Mentoring is taking place here, now, in front of you. You are already part of it.

[2017-09-14 21:22] sparklingrobots commented on #135
@rachellawson Not enough +1s in the world for that reminder!  <3 <3 <3

[2017-09-15 00:11] gapple commented on #135
A lot of module maintainers are probably in the position of only being able to minimally maintain or improve their module with their available time; what's needed to help them be active and regular mentors in that time instead?

Are there things from the Google Summer of Code program that could be re-used to create an ongoing mentorship / accelerator program?

[2017-09-15 14:03] agentrickard commented on #135
@gapple the challenge there is getting maintainers to think like Project or Product Managers. Views and Panels went through this transition successfully. If we can provide some templates or models for how people might manage such things, that might help.

The key is writing feature criteria and then coaching people through how to do it. Here's a sample, perhaps. https://github.com/agentrickard/dom

[2017-09-15 14:13] rachellawson commented on #135
There are movements to try and bring Gabor's excellent Rocketship tool and a whole bunch pf PMs into the equation. Make it available as a resource for more maintainers and initiative leaders. I think Sharon Vettes wants to sprint on this at Vienna.

[2017-09-15 14:15] agentrickard commented on #135
FYI -- https://www.drupal.org/project/rocketship powers http://drupal8multilingual.org/

[2017-09-15 14:23] rachellawson commented on #135
I just want to record in here some of the excellent ideas made on Slack. Hope that's okay.

[code]

[2017-09-15 15:55] gusaus commented on #135
Couple quick thoughts on how DD&I could interface with the [Drupal Dojo](https://groups.drupal.org/drupal-dojo) and related community mentoring groups

- create a Diversity & Inclusion group on http://drupaldojo.com/ -
- use Drupal Dojo tools (Twitch.tv, #drupal-dojo Slack, websites, drupal projects/issue queues, etc)  to run coding sprints, online training sessions, podcasts, and more
- help Drup

[2017-09-15 16:40] AlannaBurke commented on #107
I don't think we should make the auto posts too big - people will ignore it. I'd rather have a few sprinkled throughout the day. I'm also happy to change the time of that one, noon just seemed like a good time!

I think the welcome one could be a few times a week, same with the meetings one. i think the participation one should still be every day (maybe some day we can feel better about that ...)

[2017-09-15 17:50] rubyji commented on #83
Great series by Vivianne Castillo on “Why Most Conversations in Tech About Diversity Are Bullshit — and What to Do About It”

1. [Why Most Conversations in Tech About Diversity Are Bullshit — and What to Do About It](https://uxdesign.cc/why-most-conversations-in-tech-about-diversity-are-bullshit-and-what-to-do-about-it-part-i-eca4962a3e7d)
2. [The P-Word](https://uxdesign.cc/part-ii-why-most-conve

[2017-09-15 20:42] #130 closed

[2017-09-15 20:44] sugaroverflow opened #136 "Agenda for Sept 21"
some possible agenda items:

- upcoming office hours
- book club updates
- demographics updates
- something for DC Vienna
- actionable items to make drupal more diverse doc
- discussing initiatives

[2017-09-15 22:28] sparklingrobots commented on #135
I tried to sum up what we've talked about here in this [Google doc ](https://docs.google.com/document/d/1ib9c9IDxlEgdxiwOMAY04VF3HWXLAWgszaOHtt9Kw1c/edit?usp=sharing)(editable by anyone).

I am copy/pasting the contents below so you all can see the work but let's keep working in the google doc. (Is there a better way to handle this? I'm newish to GitHub.)

I think we could come up with a basic pla

[2017-09-19 16:20] drnikko commented on #121
Hi, going to close this for now.  PLEASE reopen when we can get some traction and human energy behind it.

[2017-09-19 16:20] #121 closed

[2017-09-19 16:20] drnikko commented on #131
@alisonjo2786 would you like to take the lead on this?  We're trying to foucs on initiatives with people willing to lead them.

[2017-09-19 16:25] sugaroverflow commented on #136
- call for volunteers to be interviewed via phone or chat about their DC Baltimore experience with DD&I

[2017-09-19 16:54] AlannaBurke commented on #121
I'm addicted to Ask A Manager so every time i find a post related to diversity/inclusion i'm going to put it here!

[1. Employee wants halal lunch options](http://www.askamanager.org/2015/11/employee-wants-halal-lunch-options-answering-would-you-rather-interview-questions-and-more.html)

[3. I used a white-sounding name on my resume and got way more interviews](http://www.askamanager.org/2017/02/i

[2017-09-19 18:19] sugaroverflow commented on #51
I'm closing this initiative for now because we haven't gotten a lot of traction _and_ I don't think we have the capacity to manage it.

Anyone should feel to reopen if they would like to lead on this. Thank you for your work!

[2017-09-19 18:19] sugaroverflow commented on #67
I'm closing this initiative for now because we haven't gotten a lot of traction _and_ I don't think we have the capacity to manage it.

Anyone should feel to reopen if they would like to lead on this. Thank you for your work!

[2017-09-19 18:19] #67 closed

[2017-09-19 18:19] #51 closed

[2017-09-19 19:57] drnikko commented on #136
speaking as an individual not as a DD&I person - announcement of safe non-male space for governance discussion as a direct attempt to get more people involved especially in CoC & CoC enforcement conversations

[2017-09-20 19:04] heyrocker commented on #136
DrupalCon social. Tuesday night at 18:00, Das Campus. http://dascampus.at/

[2017-09-21 16:28] agentrickard commented on #129
I think the https://drupaldiversity.github.io/resources/ page is a good start. I want to look into repurposing some of that into a digest format.

[2017-09-21 16:31] agentrickard commented on #129
See also https://github.com/drupaldiversity/administration/issues/134 and https://github.com/drupaldiversity/administration/issues/83

[2017-09-22 22:38] alisonjo315 commented on #131
Hi! Is this still applicable, or is it morphing into the ddi contrib channel thing, or is that different?

[2017-09-22 23:06] sparklingrobots commented on #135
Update: There is a new #ddi-contrib-team channel in slack for any interested parties to discuss this project.

[2017-09-22 23:07] sparklingrobots commented on #135
There's a new google doc for ideas about the theme folks are considering building: https://docs.google.com/document/d/12IsWjp8VYFlp5B4rUBg86_qEuZOjkhYkWTkEaTR_CRU/edit

[2017-09-25 00:44] drnikko commented on #131
@alisonjo2786 I think if you want to lead it, we can do it.  We really can only support ideas that have a lead since there is a lot going on.

[2017-09-26 18:30] sparklingrobots commented on #73
As part of the effort to develop a [diversity-and-inclusion focused mentorship program](https://github.com/drupaldiversity/administration/issues/135), I've found myself thinking about measurement a lot.  The metrics tracked on d.o are pretty terrible and I don't expect that to be fixed before our project starts (or...ever).

I'd like to be able to take our own metrics and make our own reports abou

[2017-09-27 14:33] rubyji opened #137 "Agenda for Sept 28"
possible agenda items:

- upcoming office hours
- book club news
- demographics updates
- actionable items to make drupal more diverse doc
- updates on initiatives

What else?

[2017-09-27 15:01] RainbowArray commented on #137
Putting together a small, diverse contribution team or teams.

Discussion questions:
- What would make such an effort diverse? How to keep people supported?
- Definite interest in working on a contrib theme, is there also interest in a team working on updating contrib to use new Media API and/or updating tests in core?
- Set up a regular meeting time?
- Anyone else interested in participating? Lea

[2017-09-27 15:43] sparklingrobots commented on #137
Book club news: Book club is changing to a new time and format. New time is noon EST on Fridays. First meeting at the new time will be next Friday (10/6--not tomorrow!) at noon EST. We'll be reading the first two parts of @vcastillo's _Why Most Conversations in Tech About Diversity Are Bullshit — and What to Do About It_ ([first part](https://uxdesign.cc/why-most-conversations-in-tech-about-divers

[2017-09-28 16:25] rubyji opened #138 "Clean up Resources page or tell Ruby how"
I put a lot of effort into creating this on a wiki page but now that it's on our website I don't know how to edit it. https://drupaldiversity.github.io/resources/

Some of the formatting is broken and the whole thing could be updated with the links at https://github.com/drupaldiversity/administration/issues/83 and https://github.com/drupaldiversity/administration/issues/134

[2017-09-28 16:41] cleverington commented on #138
@rubyji If you provide it to me in a Google Doc, I can get the change made in a few minutes later this evening or tomorrow.

I'll leave the Issue open though until I can get a small work instruction created within the Wiki. There is a way to 'print to Markdown' with a special JavaScript file.

[2017-09-28 16:51] rubyji commented on #138
Thanks, @cleverington! For now could you please fix the broken syntax there? (Links in bullets 4 & 9, and space between 3 & 4.)

I can easily edit a markdown document, I just don't know where it is or what the workflow is to publish it. I may not even be asking the right question.

[2017-09-28 16:56] cleverington commented on #138
No worries.

And, as for editing, if you are familiar with the GitHub Editor, you can actually 'live edit' a page and then submit your changes as a P.R.

I'll look at those changes this evening.

[2017-09-28 17:09] rubyji commented on #138
So I go here and just start editing? https://github.com/drupaldiversity/drupaldiversity.github.io/blob/master/resources.md

[2017-09-28 17:11] cleverington commented on #138
Yep. Just click the little Pencil icon.

I'll ask (if your permissions are high enough) if you want to commit it to master.

If they _aren't_ high enough, it'll ask if you want to create a PR in a branch with your Username as the title of the branch. Either way, select that second option, that way we can review in a PR before approval.

[2017-09-28 17:13] rubyji commented on #138
I did this. https://github.com/drupaldiversity/drupaldiversity.github.io/pull/39

[2017-09-28 17:26] cleverington commented on #138
@rubyji Generally takes around 20 minutes for changes to 'populate' (at **absolute** longest) on the site. You'll generally see all changes within around 2 minutes.

Look for it. ;-)

[2017-09-29 18:00] sparklingrobots commented on #73
Found this via @drnikki's blog: http://www.isdnetwork.org/what-is-diversity.html Seems like a relevant starting place.

[2017-09-30 19:24] drnikko commented on #136
Closing

[2017-09-30 19:24] #136 closed

[2017-09-30 19:24] #137 closed

[2017-09-30 19:25] drnikki opened #139 "Agenda for October 5 meeting"
- governance chats / governance & CoC issues
- plug for Open Demographics

[2017-09-30 19:26] drnikko commented on #135
@sparklingrobots would you like a drupaldiversity repository to store your work in, or are you okay with the google doc?

[2017-09-30 19:32] drnikko commented on #84
@keltique I'm sorry that this got missed - if you have an open fork with work, we can merge that in.

[2017-10-02 14:25] alisonjo315 commented on #131
Hey! Thank you, I totally missed the notification from GH of your reply, and I forgot to check on it, sorry for the delayed response.

Since I didn't think about this in the last week, unfortunately I'm going to have to defer to next week to think about it, I'm going out of town Wednesday morning and one of me bffs is getting married Sunday.

I was also thinking I'd love for us to push the train-t

[2017-10-03 19:48] sparklingrobots commented on #135
@drnikki Thanks for the offer! For now we can stick with google docs but we'll talk about it in our meeting later this week and see if folks prefer something else.

[2017-10-03 19:58] sparklingrobots commented on #135
@drnikki That said--if there is a way that it would be helpful for us to organize our work so as to not clutter up what everybody else is doing, let me know and I'll make it happen.

[2017-10-03 20:05] sparklingrobots opened #140 "Agenda for DDI Mentoring Initiative Meeting #1 (2017.10.05)"
1. Introductions (name/location/reason they joined us today)

1b. Meeting Overview:
Goal of the project: To increase code-based contributions from individuals from under-represented groups to the Drupal project.

This channel right now is being used to organize a mentoring program. During this meeting I'd like to formalize the first group/cohort of mentors/mentees and develop a plan to support the

[2017-10-03 22:05] RainbowArray commented on #140
I'd maybe just add another bullet point under number 3:
- If there's sufficient interest for a second cohort group that's more back-end based, maybe look at Media API updates in contrib? And/or working on updating tests in core?

[2017-10-05 03:55] sparklingrobots commented on #139
Hope you don't mind some unsolicited additions! I might not be able to make the meeting so wanted to make sure to get these in.

- Book club is Friday (tomorrow) at noon PST. We'll discuss parts 1 & 2 of @vcastillo’s "Why Most Conversations in Tech About Diversity Are Bullshit — and What to Do About It".  New format is Bring Your Own Questions (BYOQ).  Part I: https://uxdesign.cc/why-most-conversa

[2017-10-05 13:30] sugaroverflow commented on #139
maybe share some of the resources in https://github.com/drupaldiversity/administration/issues/134?

[2017-10-06 04:22] sparklingrobots commented on #74
New suggestions from the channel: https://www.amazon.com/Technically-Wrong-Sexist-Algorithms-Threats-ebook/dp/B06XJBGPT9/ref=mt_kindle?_encoding=UTF8&me=

Also someone mentioned Emergent Strategy which I'm quite interested in.

[2017-10-08 19:56] #139 closed

[2017-10-09 16:25] rubyji opened #141 "Agenda for Oct 12"

[2017-10-09 16:29] rubyji commented on #141
I'd like to discuss merging our our reading list (https://github.com/drupaldiversity/administration/issues/83) into our public resources page (https://drupaldiversity.github.io/resources/) and adding more organization. I am willing to take the lead on it unless any librarian wants to step up. Could possibly also incorporate some other resources like Encoding values (https://github.com/drupaldivers

[2017-10-09 16:38] #138 closed

[2017-10-10 14:01] sugaroverflow commented on #141
Agenda (so far)

- Book Club Announcements
- consolidating our resources page.
- feedback on how leadership should deal with people who make the community more hostile to marginalized people.
- DD&I Contrib team invite/update
- Support for camp/con presentations
- Drupalcon Nashville DD&I + how to make it safer
- possibly governance? share Nikki's medium post

[2017-10-10 14:42] rubyji commented on #141
I feel like the item about disparaging presentation has (rightly) morphed into an issue about how the DA should deal with people who make the community more hostile to marginalized people. For some this may be a question of the process of the CWG - how they respond, what enforcement they or can't do, whether it's public or private. Personally, I feel like the CWG is designed to deal with interpers

[2017-10-10 14:44] sugaroverflow commented on #141
@rubyji

1- completely agree with that. I'll rephrase the issue.
2- yes, sorry! forgot to includethe consolidation of the resource page. I'll update the agenda :)

[2017-10-12 00:49] sparklingrobots commented on #135
@drnikki Can we please have a drupaldiveristy repository after all? I think most of our project work will live on d.o but we need a home for the meta-info of organizing the mentoring program itself. Thank you!

[2017-10-12 00:49] sparklingrobots commented on #140
Meeting notes: https://docs.google.com/document/d/1SmXnIwRWmmDfoRGBFB3KYPURIheZ3zhSh0npFEOiSZg/edit?usp=sharing

[2017-10-12 00:49] #140 closed

[2017-10-12 01:13] sparklingrobots commented on #141
Book Club Announcement:
Friday at noon EST we will be reading the last two sections of @vcastillo's series: https://uxdesign.cc/part-iii-why-most-conversations-in-tech-about-diversity-are-bullshit-and-what-to-do-about-it-b1db8900fce7 and https://uxdesign.cc/part-iv-equality-for-all-women-or-just-white-women-8ee3f1b58cda.  Format is again BYOQ (bring your own questions).

DD&I Contrib team invite/u

[2017-10-12 04:12] drnikko commented on #135
@sparklingrobots with pleasure  - https://github.com/drupaldiversity/contrib exists and you're an administrator and so can proceed as you wish.  Thank you for everything that you're doing with this.  It makes a big difference. <3 <3 <3

[2017-10-12 14:29] sugaroverflow opened #143 "Agenda for Oct 19"
preliminary agenda items that will probably rollover:

- Book Club Announcements
- DD&I Contrib team invite/update
- Support for upcoming camp presentations?
- Drupalcon Nashville DD&I + how to make it safer

[2017-10-12 17:40] sparklingrobots commented on #135
@drnikki Thank you thank you thank you!! I am happy to be doing it and the team that has coalesced here is amazing.

[2017-10-12 17:40] sparklingrobots commented on #135
I'm going to go ahead and close this issue since we are getting rolling a) with our first groups and b) in our shiny new repo.

[2017-10-12 17:40] #135 closed

[2017-10-13 18:18] sparklingrobots commented on #143
Book club announcement:

DDI book club will no longer be meeting. If anyone is interested in taking the book club on, they have the blessing of the original book club team.  Thanks to all who participated in our five month book club experiment! :books:

[2017-10-13 18:20] Unitoch commented on #143
Thanks for running it, @sparklingrobots.  Although I'm sad to see it go, I appreciate all the work you did to keep it going for as long as it did.

[2017-10-13 18:39] rubyji commented on #83
How “Good Intent” Undermines Diversity and Inclusion (Thanks, @catch56.)
https://thebias.com/2017/09/26/how-good-intent-undermines-diversity-and-inclusion/

[2017-10-13 20:36] rubyji commented on #143
Would it be worth discussing the challenges? For me obviously, timing was
hard. What if we had an article to discuss each week and people could drop
in asynchronously? We could even do this without making it official, but
just drop a link on Monday and see what comes up throughout the week.

I'm not sure whether that would help, and definitely don't want to make
more work for anyone who is already

[2017-10-17 17:20] #141 closed

[2017-10-18 17:57] sugaroverflow commented on #143
adding two more things :

- should the bar be higher for people in this community in leadership roles?
- personal check ins

[2017-10-18 19:04] catch56 commented on #143
Slight amendment to the book club announcement:

DDI book club is going to take a hiatus, since it's been hard to get attendance for the meetings, while sometimes articles posted at random times in the channel provoke good discussions instead. catch is thinking about trying to do a different format so we can still collectively read something without relying on a meeting time, but this needs a bit

[2017-10-18 20:10] drnikko commented on #143
from ok_lyndsey - "Can/should we have a process of messaging people we see being targeted directly to check they are ok?"

[2017-10-18 21:29] sparklingrobots commented on #143
DDI Contrib Team Updates:

DDI Contrib Team is working to involve new folks from underrepresented groups in contributing back to Drupal. We're open to new members so if you'd like to work with us as a new contributor, a mentor, or a little of both, join us in #ddi-contrib-team.

The back end team is holding weekly meetings on Tuesdays at 10 am PST.  We are looking for a PM to take the reins and ke

[2017-10-24 13:22] sugaroverflow opened #144 "Agenda for Oct 26"
preliminary agenda items that will probably rollover:

- DD&I Book Club hiatus
- DD&I Contrib team updates
- Support for upcoming camps/presentations?
    - https://nedcamp.org/
    - https://www.drupalcampatlanta.com/
- Drupalcon Nashville DD&I + how to make it safer
- from ok_lyndsey - "Can/should we have a process of messaging people we see being targeted directly to check they are ok?"

[2017-10-24 13:28] #143 closed

[2017-10-24 20:17] rubyji commented on #144
Do we need to talk about the Morten/CWG/naming names business? (Especially since I stirred up the sh*t on Twitter. Ooops.)

[2017-10-25 13:59] sugaroverflow commented on #144
@rubyji yup, we're going to retract that we posted his name and encourage people to send reports to CWG if they have issues to report. I think that's what @drnikki had planned for that, correct me if I'm wrong.

[2017-10-25 14:14] drnikko commented on #144
I wouldn't say retract, but we do need to write a post clarifying why we
did it, and, in general, asking for reports. @heyrocker was going to start
it, but I'll try to get something short started today

On Oct 25, 2017 6:59 AM, "Fatima Sarah Khalid" <notifications@github.com>
wrote:

@rubyji <https://github.com/rubyji> yup, we're going to retract that we
posted his name and encourage people to sen

[2017-10-26 13:47] sugaroverflow commented on #144
sounds good

if we have a post today, I can add this to the agenda, otherwise it can wait :)

[2017-10-26 14:16] sugaroverflow opened #145 "Moving DD&I to Drupal.org"
We are officially moving from Github to Drupal.org! We hope this will increase engagement and make it easier for everyone to contribute. We will also have the ability to give credit on issues!  We currently have a project setup at https://www.drupal.org/project/diversity and need your help to start moving over.

Here's what I think needs to happen:

1. Issues
- deciding on things like tags? and ma

[2017-10-26 14:18] sugaroverflow opened #146 "Agenda for Nov 2nd"
items that will probably rollover:
- DD&I Contrib team updates
- Drupalcon Nashville DD&I booth/presence + how to make it safer
- personal check ins
- DD&I response post about the morten/cwg/naming issue (if it's ready)

[2017-10-26 15:13] sparklingrobots commented on #144
Here's the Contrib Team update:

Next back-end team meeting is Tuesday at 10 am PT. We are forming 2-3 person groups to work on writing tests for Drupal 8. We are still open for mentees, mentors & tester/reviewers.

The next front-end team meeting is next Thursday at 11 am PT.  The front-end team is working on a very exciting theme project.

If you'd like to be involved, hop on over to #ddi-contri

[2017-10-26 15:14] sugaroverflow commented on #144
Thank you @sparklingrobots !

[2017-10-26 15:23] rubyji commented on #146
Why is this assigned to me? Please tell me I am not facilitating. That is not in my calendar.

[2017-10-26 16:49] sugaroverflow commented on #146
+ moving to Drupal.org (I'll update this description in a bit) #145

[2017-10-30 05:12] drnikko commented on #131
I'm also super late on the response here.  I wonder how we can integrate this with our move to d.o.  Since that's where "top contributors" hang out, we might be able to take advantage of that.

I'm comfortable with any form that you want this to take, and also comfortable with you pausing on it for a while until we (the collective we) can come up with a better plan.  <3

[2017-10-31 16:42] rubyji commented on #146
- Update on governance process. (Fatima or Nikki?)

- Donation report (Nikki)

[2017-11-02 15:32] catch56 commented on #145
With tags, can use what we like but it's better to re-use existing tags if they're relevant. To use contrib kanban (https://contribkanban.com/browse) , the 'sprint' tag is useful for things currently being worked on.

Projects can have issue queues without a code base so that should work fine, it'd be worth looking at how the Drupal core ideas queue is set up maybe but I think it's straightforward

[2017-11-06 19:18] sparklingrobots commented on #146
If we have time, perhaps we can discuss developing a protocol for when folks voice discomfort with what is happening in the channel.  Right now it relies a lot on whoever happens to be active at the time and we don't (or I should say **I** don't) have a good sense of what to do.

My thoughts are that when someone voices discomfort, a *designated*, *trained* person reaches out to them with the link

[2017-11-06 19:26] sugaroverflow opened #147 "Agenda for Nov 9"
- DD&I Contrib team updates
- DC Nashville DD&I Booth / ideas
- How to feel safer at DC Nashville
- personal check ins

- from @sparklingrobots:

[2017-11-06 19:27] sugaroverflow commented on #146
@sparklingrobots moving your suggestion over to #147 :) this is last week's agenda, sorry about that!

[2017-11-06 19:27] #146 closed

[2017-11-06 19:34] sparklingrobots commented on #146
@sugaroverflow Hahah, I literally have no idea what day it is.  Thanks for clearing that up.

[2017-11-07 21:08] sugaroverflow commented on #145
@catch56 looking at the Drupal core ideas queue is super helpful, thank you! I'll get back to you if I have more questions, but this is good to get started :D

[2017-11-07 21:12] sugaroverflow commented on #145
@catch56 actually I have questions now haha.

- what would you recommend for meeting agendas? should we have one issue for each meeting agenda - or one "meeting agenda" issue and link to the comment on the specific day's agenda? what would a meeting agenda issue be tagged?

- can we define custom components for our project? for example, we currently have `code, documentation, misc...` and the Drup

[2017-11-07 21:22] sugaroverflow commented on #145
actually, I just found https://www.drupal.org/issue-queue to answer question 2 -  sorry @catch56 :)

[2017-11-08 20:32] #144 closed

[2017-11-09 16:51] sugaroverflow commented on #145
Here's are my plans for the big move 🎉

- Move over the administration documentation
- Remove the bits about the teams and disband the teams officially.
- Setup the components as Idea, Active Initiative, Discussion, Meeting, Moderation.
- Move over some of my own issues as templates/examples.
- Ask/Call out for people to move their issues over
- Update the content on the website.

[2017-11-09 17:29] sugaroverflow opened #148 "Agenda for Nov 16"
- change of meeting time?
- DD&I Contrib team updates
- Moving to Drupal.org action items (I should have it ready for people to move issues by this meeting)
- Disbanding our teams (if the above is ready)
- What should be our protocol for when folks voice discomfort with what’s being discussed in this channel?
- DC Nashville DD&I Booth and ideas
- How we can make DC Nashville feel safer?
- personal

[2017-11-09 17:55] damienmckenna commented on #77
During today's DD&I meeting it was mentioned that some people have difficulty with some of the terminology used, so this is of particular importance for the group.

[2017-11-09 17:58] sacarney commented on #77
Perhaps we can scan for a list of words we use in the channel often, write our own definitions prominently so they are visible, and provide external resources for other words.

[2017-11-09 18:02] sacarney commented on #77
Initial list to call out big in a glossary:

- Diversity vs Inclusion
- Privilege
- Systemic
- Institutional
- Intersectional
- "reverse racism"

What else in particular do we use frequently?

[2017-11-14 17:05] rubyji commented on #148
I'd like to make a general request in the meeting for people to follow us on Twitter, and engage with and RT our posts when they feel moved.

[2017-11-14 17:41] drnikko commented on #148
As part of our move to hosting issues on drupal.org, https://www.drupal.org/project/diversity/issues/2923463

and closing this here

[2017-11-14 17:41] #148 closed

[2017-11-15 20:15] #147 closed

[2017-11-15 20:29] sugaroverflow commented on #132
Since we are moving to Drupal.org, I've migrated this issue here: https://www.drupal.org/project/diversity/issues/2923860

:) closing.

[2017-11-15 20:29] #132 closed

[2017-11-15 20:54] sugaroverflow commented on #86
Since we're moving to drupal.org, I've migrated this issue here: https://www.drupal.org/project/diversity/issues/2923865

[2017-11-15 20:54] #86 closed

[2017-11-15 21:06] sugaroverflow commented on #131
Since we are moving to drupal.org, I migrated this issue: https://www.drupal.org/project/diversity/issues/2923869

Closing :)

[2017-11-15 21:06] #131 closed

[2017-11-15 22:03] sugaroverflow commented on #145
Movement is in progress! 🎉  please start moving over your issues https://www.drupal.org/project/diversity/issues/

[2017-11-15 22:05] sugaroverflow commented on #76
Has this been resolved @cleverington ? If not, we should probably move this to the issue queue for drupaldiversity/drupaldiversity.github.io and close this (since the admin repo is moving to d.o).

[2017-11-15 22:05] sugaroverflow commented on #85
@cleverington has this been discussed/decided on? I want to move this issue to drupaldiversity/drupaldiversity.github.io instead of this queue (since this admin queue is moving to d.o)

[2017-11-15 22:08] sugaroverflow commented on #63
We won't be needing Github issue templates since we are moving to d.o and will be using the standard issue summary template so closing this :) thank you @AlannaBurke !

[2017-11-15 22:08] #63 closed

[2017-11-15 22:09] sugaroverflow commented on #113
Closing this because we are moving to Drupal.org. Thank you for your thoughts! :)

[2017-11-15 22:09] #113 closed

[2017-11-15 22:11] sugaroverflow commented on #129
@agentrickard since we're moving to d.o (#145), would you like to migrate this issue to https://www.drupal.org/project/diversity/issues/?

It can be related to https://www.drupal.org/project/diversity/issues/2923860. Thank you!!

[2017-11-15 22:37] agentrickard commented on #145
https://www.drupal.org/project/diversity/issues/2923896

[2017-11-15 22:37] agentrickard commented on #129
https://www.drupal.org/project/diversity/issues/2923896

[2017-11-15 22:37] #129 closed

[2017-11-16 14:22] sugaroverflow commented on #110
@gdemet we are in the process of moving DD&I to drupal.org #145.

Is the work on collecting demographics complete? If not, could you migrate this issue to https://www.drupal.org/project/issues? There are some existing issues to look at for examples.

[2017-11-16 20:04] cleverington commented on #85
@sugaroverflow This task can be one for moving. The discussion you see is the contents of the discussion there has been.  Meeting WCAG and AAA should be a _requirement_ for the DD&I group, so migrating it as an issue would be a good idea.

[2017-11-16 20:07] cleverington commented on #76
@sugaroverflow Though I apparently failed like... horrifically at commenting it, https://github.com/drupaldiversity/drupaldiversity.github.io/pull/37 actually resolved the initial issue.

The observed issue with our version of blue and "anything but black" in my previous comment could be opened on d.o. under a new/separate issue if PR 37 is approved.

(Adding a couple of notes to PR 37, though.)

[2017-11-17 01:30] gdemet commented on #110
This is still a work-in-progress; I'll migrate over to a new issue on d.o

[2017-11-17 01:42] sugaroverflow commented on #77
Since we are moving to drupal.org #145 @AlannaBurke would you like to copy this issue over and close this one? Thank you!

[2017-11-17 01:51] sugaroverflow commented on #107
Since I was supposed to get this going, I migrated this issue over to d.o as per #145 and assigned it to me! You're all credited, thank you!

https://www.drupal.org/project/diversity/issues/2924200

[2017-11-17 01:51] #107 closed

[2017-11-17 01:52] sugaroverflow commented on #85
Thank you @cleverington!

This has been moved over to the website issue queue, thank you! https://github.com/drupaldiversity/drupaldiversity.github.io/issues/40

[2017-11-17 01:52] #85 closed

[2017-11-17 01:56] sugaroverflow commented on #76
Ohh, I see. Sorry that PR fell off my radar.

Putting PR 37 on my to-do list, moved your thoughts to this issue in the website queue: https://github.com/drupaldiversity/drupaldiversity.github.io/issues/40 and closing this :)

Thank you!

[2017-11-17 01:56] #76 closed

[2017-11-17 02:00] sugaroverflow commented on #82
We're moving to drupal.org #145. @hrod if you'd still like to take this on, could you please create this issue in our d.o queue and close this one when you're done? https://www.drupal.org/project/issues/diversity

Thank you!

[2017-11-17 02:02] sugaroverflow commented on #27
We're moving to drupal.org #145
@hrod If you're still interested in continuing the discussion on this, could you please move the issue to our d.o queue and then close this issue? https://www.drupal.org/project/issues/diversity

You can also choose to close or ask me to take care of it :) Thank you!

[2017-11-17 02:09] gdemet commented on #110
This has now been moved to: https://www.drupal.org/project/diversity/issues/2924205

[2017-11-17 02:09] #110 closed

[2017-11-17 19:35] rubyji commented on #83
I'll be working on adding these links to our resources page. Follow along at https://www.drupal.org/project/diversity/issues/2924467/

[2017-11-17 19:35] #83 closed

[2017-11-17 19:35] rubyji commented on #134
I'll be working on adding these links to our resources page. Follow along at https://www.drupal.org/project/diversity/issues/2924467/

[2017-11-17 19:35] #134 closed

[2017-12-05 21:13] rubyji commented on #83
More links I don't want to lose:
https://protectourspaces.org/
https://www.hiremorewomenintech.com/

[2017-12-07 17:14] laughnan commented on #104
⚠️ Moving this thread to https://www.drupal.org/project/diversity/issues/2929245

[2017-12-07 17:19] laughnan commented on #74
⚠️  Moving this thread to Drupal.org for further suggestions: https://www.drupal.org/project/diversity/issues/2929248

[2017-12-07 17:19] agentrickard commented on #73
moving to d.o.

[2017-12-07 17:20] sparklingrobots commented on #69
This issue has been moved to drupal.org: https://www.drupal.org/project/diversity/issues/2929247

Tagging @drnikki !

[2017-12-07 17:21] sparklingrobots commented on #111
Moving to d.o.

[2017-12-07 17:21] agentrickard commented on #73
https://www.drupal.org/node/2929249

[2017-12-07 17:22] drnikko commented on #73
thanks @agentrickard !! closing

[2017-12-07 17:22] #73 closed

[2017-12-07 17:22] laughnan commented on #84
⚠️ Moved this thread to Drupal.org: https://www.drupal.org/project/diversity/issues/2929251

[2017-12-07 17:23] drnikko commented on #69
Thanks @sparklingrobots !! <3

[2017-12-07 17:23] #69 closed

[2017-12-07 17:23] drnikko commented on #84
Thanks @laughnan !! <3 <3

[2017-12-07 17:23] #84 closed

[2017-12-07 17:24] laughnan commented on #19
Cannot be certain, but maybe you know @drnikki. I think this was moved to: https://www.drupal.org/project/diversity/issues/2924467

[2017-12-07 17:27] sparklingrobots commented on #111
Moved to https://www.drupal.org/project/diversity/issues/2929254

Tagging @drnikki !

[2017-12-07 17:28] drnikko commented on #111
@sparklingrobots thanks!! <3

[2017-12-07 17:28] #111 closed

[2017-12-07 17:28] drnikko commented on #19
Yes! great!  We always want to give incoming folks a trail to follow.  thank you!

[2017-12-07 17:28] #19 closed

[2017-12-07 17:28] drnikko commented on #104
Thanks!

[2017-12-07 17:28] #104 closed

[2017-12-07 17:29] #74 closed

[2017-12-07 17:30] drnikko commented on #27
I'm going to close this @hrod and if you want to open in d.o please do.  There is overlap here with the Palantir inclusion initiative too, so that's something to keep in mind.

[2017-12-07 17:35] #27 closed

[2017-12-07 17:36] drnikko commented on #82
I'm going to close this here - we can reopen, but I know for a fact that a cross-organization collaboratory is in the works and this is something they'll be including.

[2017-12-07 17:36] #82 closed

[2017-12-07 17:37] drnikko commented on #145
I'm going to close this meta-issue as we close out the last few items. <3 <3

[2017-12-07 17:37] #145 closed

[2017-12-07 17:41] drnikko commented on #77
https://www.drupal.org/project/diversity/issues/2929257

[2017-12-07 17:41] #77 closed

[2017-12-07 17:48] drnikko commented on #61
https://www.drupal.org/project/diversity/issues/2929261

[2017-12-07 17:48] #61 closed

[2017-12-07 17:49] drnikko commented on #68
we have an active moderation repo: https://github.com/drupaldiversity/moderation-guidance/issues so I'm closing this.  Folks can head over there (until that moves to d.o as well).

[2017-12-07 17:49] #68 closed

[2017-12-07 17:50] drnikki opened #149 "READ ME"
This issue is permanently open and will act as a placeholder for folks just coming in.

We've moved to drupal.org for our issues (which is the exact opposite direction that most projects seem to be going), so please join us over there: https://www.drupal.org/project/issues/diversity